<%- include('partials/header.ejs') %> 
<body>
    <%- include('partials/navbar.ejs') %> 
    <div class="container">
       
        <h1> Perguntas </h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary">Perguntas</a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
        <br>
        <div class="card">
            <div class="card-body">
                <p><%= pergunta.titulo %></p>
            </div>

            <div class="card-footer">
                <a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary">Responder</a>
            </div>
        </div>
        <% })%>
    </div>
</body>
<%- include('partials/footer.ejs') %> 


